$block: '.modal-stock';

#{$block}__container {
    display: flex;

    #{$block}__header {
        width: 350px;
        text-align: center;
        padding: 20px 20px;
        display: block;
    }

    #{$block}__caption {
        width: 350px;
        padding-left: 20px;
        display: block;
        opacity: 0.4;
    }

    #{$block}__input {
        width: 350px;
        padding: 4px 20px 20px 20px;
        display: block;
    }

    #{$block}__select {
        width: 350px;
        padding: 4px 20px 20px 20px;
        display: block;
    }

    #{$block}__btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;

    }
}