$block: '.user';

#{$block}__ {
    min-height: 30px;
    display: grid;
    grid-template-columns: 20% repeat(3, 1fr);
    align-content: center;
    justify-items: center;

    #{$block}__login {
        padding-left: 30px;
        justify-self: left;
    }

    #{$block}__name {
        justify-self: left;
    }

    #{$block}__active {}

    #{$block}__zp {
        padding-right: 20px;
    }
}

#{$block}__:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}