@use '../../variables.scss' as *;

$block: '.rent-item';

#{$block} {
    border-bottom: 2px solid #626160;
    background-color: #f1f9fc;

    #{$block}__section-item {
        display: flex;
        justify-content: space-between;
        gap: 5px;

        #{$block}__section-info {
            display: flex;
            gap: 5px;

            #{$block}__image {
                // box-sizing: border-box;
                width: 100px;
                height: 100px;
                // height: auto;
                object-fit: cover;
                // overflow: hidden;
            }

            #{$block}__section-title {
                margin: 5.5px 0 7.5px 0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                #{$block}__name {
                    width: 100%;
                    line-height: 0.9em;
                    color: $color-blue;
                    font-size: 22px;
                    padding-top: 2px;
                    overflow: hidden;
                    overflow-wrap: break-word;
                }

                #{$block}__time {
                    color: $color-black;
                    font-size: 20px;
                    // margin-top: 2px;
                }
            }
        }

        #{$block}__section-price {
            margin-top: 7.5px;
            min-width: 105px;
            height: 85px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 7px 0px 0px 7px;
            position: relative;

            #{$block}__id-item {
                margin: 16px 0 0 8px;
                color: $color-black;

                .number {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    box-sizing: border-box;

                    .first {
                        font-size: 28px;
                    }

                    .second {
                        font-size: 18px;
                        line-height: 12px;
                        margin-left: 2px;
                        letter-spacing: 0.4px;
                    }
                }
            }

            #{$block}__cost {
                display: flex;
                margin: 5px 0 0 10px;

                img {
                    width: 20px;
                }
            }

            #{$block}__summa {
                font-size: 26px;
                color: #fff;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                margin-right: 10px;
            }

            #{$block}__battery {
                width: 25px;
                position: absolute;
                right: 3px;
                top: 3px;
                opacity: 0;
            }

            #{$block}__battery_show {
                animation: battery-low;
                animation-duration: 4s;
                animation-iteration-count: infinite;
            }

            @keyframes battery-low {
                from {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }

            #{$block}__separator {
                margin: 7px 5px 0 5px;
                width: 90px;
                height: 1px;
                border: 1px solid $color-black;
                background-color: $color-black;
                transform: scaleY(0.4);
            }
        }
    }

    #{$block}__section-description {
        display: flex;
        align-items: center;
        border: 1px solid $color-blue;
        border-top: 1px solid $color-blue;
        border-left: 0 solid $color-blue;
        border-right: 0 solid $color-blue;
        height: 29px;
        padding-left: 8px;
        background-color: #fdfdfd;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        margin: 0 0 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;


        #{$block}__money {
            border-left: 1px solid $color-blue;
            border-bottom: 1px solid $color-blue;
            border-top: 1px solid $color-blue;
            min-width: 105px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            border-radius: 5px 0 0 5px;
            height: 30px;
            background-color: #fdfdfd;

            p {
                font-family: 'bebas', sans-serif;
                font-size: 26px;
                margin: 0 8px 0 0;
            }
        }

    }

    #{$block}__section-description_hidden {
        display: none;
        visibility: hidden;
    }
}

#{$block}:nth-of-type(2n+1) {
    background-color: #f0f0f0;
}

.wait-payment {
    background-color: $nopay;
}

.paid {
    background-color: $pay;
}

.active {
    background-color: $new;
}

.hold {
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}