$block: '.main-page';

#{$block} {
    max-width: 425px;
    height: 100vh;
    margin: auto;
    --g-text-body-font-family: 'Bebas', sans-serif;
}

#{$block}__toaster {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    ;
}