@use '../../variables.scss' as *;

$block: '.item-container';

#{$block}__item {
    display: grid;
    grid-template-columns: auto 22% 9% 9% 9%;
    height: 40px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $color-black;
        border-right: 1px solid $color-black;
        color: $color-black;
    }

    >div:first-of-type {
        justify-content: left;
        border-left: 0;
    }

    >div:last-of-type {
        // justify-content: right;
        border-right: 0;
    }

    .name {
        display: block;
        font-size: 14px;
        line-height: 14px;
        overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }

    .number {
        width: 68px;
        height: 30px;
        border-radius: 5px;
        background-color: $color-blue;
        border: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 4px;
        padding-bottom: 6px;
        box-sizing: border-box;
        overflow: hidden;
        font-family: 'Bebas', sans-serif;

        .first {
            font-size: 24px;
        }

        .second {
            font-size: 16px;
            line-height: 12px;
            margin-left: 2px;
        }
    }

    .cost {
        font-family: 'Bebas', sans-serif;
        font-size: 20px;
        letter-spacing: -0.2px;
    }
}