$block: '.container';

#{$block} {
    width: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#{$block}__card {
    width: 80%;
    margin-bottom: 20px;
    --g-user-label-font-size: 20px;
    --g-color-line-focus: red;
}

#{$block}__card_active {
 opacity: 0.4;
filter: grayscale(100%);
}

#{$block}__btn-add-user {
    position: fixed;
    left: 47vw;
    bottom: 100px;
    padding: 10px 0 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 99;

    svg {
        width: 20px;
        height: 20px;
        opacity: 0.2;
    }

    &:hover {
        svg {
            width: 35px;
            height: 35px;
            opacity: 1;
            transition: opacity 1s;
        }
    }
}


#{$block}__modal-new-user {

}