@use '../../variables.scss' as *;

$block: '.inventory';

#{$block} {
    display: flex;
    // align-items: center;
    flex-direction: column;

    font-family: Inter;
    font-size: 16px;
    padding: 50px 6px;

    &__caption {
        display: grid;
        grid-template-columns: auto 25% 13% 13% 13%;
        height: 37px;
        margin-top: 5px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid $color-black;
            border-right: 1px solid $color-black;
            border-bottom: 1px solid $color-black;
            color: $color-blue;
        }

        div:first-of-type {
            justify-content: left;
            border-left: 0;
        }

        div:last-of-type {
            // justify-content: right;
            border-right: 0;
        }
    }

}