@import url(./vendor/normalize.css);
@import '@gravity-ui/uikit/styles/fonts.css';
@import '@gravity-ui/uikit/styles/styles.css';

@font-face {
  font-family: 'Bebas';
  src: url('./assets/fonts/Bebas-Neue.woff') format('woff'),
    url('./assets/fonts/Bebas-Neue.ttf') format('ttf'),
    url('./assets/fonts/Bebas-Neue.woff2') format('woff2');
  font-weight: normal;
}


body {
  font-family: "Bebas", sans-serif !important;
  width: 100%;
  box-sizing: border-box;
}